<% provide(:title, 'All users') %>

<h1>All users</h1>

<%= will_paginate %>


<ul class="users">


<!-- refactored in 9.4 , to _user.html.erb, then call render directly on @users-->
  <%= render @users %>

</ul>

<%= will_paginate %>
